* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  --transition: transform 0.7s ease-in-out;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;

}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {

  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}



/* Reseteamos las tablas */

/* Evitamos problemas con los SVG */


html {
  font-size: 100%;
}

body {
  font-size: 100%;
  color: aliceblue;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  opacity: .7;
}

a:hover {
  opacity: .2;
}


p {
  opacity: .8;
}

h1 {
  font-size: 3em;
}

small {
  font-size: .29em;
}

h3 {
  font-size: 2vw;
}

h3 {
  font-size: 2vw;
  color: slategrey
}

h6 {
  font-size: 2vw;
}

.header {
  background-color: rgb(92, 107, 98);
  height: 50vh;
  display: flex;
  justify-content: space-around;

}

span {
  font-size: .7vw;
}

.nav {
  background-color: rgb(92, 107, 98);
  display: flex;
  justify-content: space-between;
  height: 100px;

}

.home a {
  opacity: 1;
  font-size: .6em;
}


.menu a {
  font-size: 1em;
}

.marca {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.irracional {
  display: flex;
}

.logo {
  width: 30%;
  display: flex;
  justify-self: center;
}

.erre {
  background: #b38834;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  transform: scale(-1, 1);
  transition: transform 5s;
}




h1:after {
  background: none;
  content: attr(data-heading);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow:
    -1px 0 1px #c6bb9f,
    0 1px 1px #c6bb9f,
    5px 5px 10px rgba(0, 0, 0, 0.4),
    -5px -5px 10px rgba(0, 0, 0, 0.4);
}


.mode {
  vertical-align: super
}

.menu {
  align-items: center;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.home {
  opacity: 1;
  background: #b38834;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header h1 {
  margin-top: 100px;
}

.header__left {
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header p {
  margin-top: 6px;
  margin-left: 6vw;
}

.header__left__btm__container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.btm {
  width: 200px;
  height: 40px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(242, 242, 242);
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  background-color: transparent;
  color: #ffffff;
  font-size: 1em;
}


.right {
  color: rgb(92, 107, 98);
  margin-left: 20px;
  background-color: #ffffff;
}

.book-container {
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 100px;
  height: 170px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(0deg);
}

.book> :first-child {
  position: absolute;
  top: 170px;
  left: 0;
  height: 170px;
  transform: translateZ(25px);
  background-size: 1em 1em;
  background-image: linear-gradient(to right top, #5c6b62, #536256, #4c5949, #464f3d, #404631);
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: rgb(0, 0, 0);
  left: 0;
  top: 175px;
  width: 38px;
  height: 160px;
  transform: translateX(70px) rotateY(90deg);
  background: linear-gradient(90deg,
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%);
}

.book::after {
  position: absolute;
  top: 170PX;
  left: 0;
  content: ' ';
  width: 100px;
  height: 170px;
  transform: translateZ(-25px);
  background-image: linear-gradient(to right top, #5c6b62, #536256, #4c5949, #464f3d, #404631);
  box-shadow: -10px 0 50px 10px #666;
}

span .book-container img {
  width: 10px;


}

.portada {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.portada__titulo {

  margin-top: 20px;
  font-size: .7em;

}

svg {
  fill: #b38834;
}

.portada__logo svg {
  width: 70%;
}




.gradient__brand {


  stop-color: #cfc09f;
}

.gradient__brand22 {


  stop-color: #634f2c;
}

.gradient__brand24 {


  stop-color: #cfc09f;
}

.gradient__brand26 {


  stop-color: 26%, #cfc09f;
}

.gradient__brand27 {


  stop-color: 27%, #ffecb3;
}


.gradient__brand40 {


  stop-color: 40%, #ffecb3;
}

.gradient__brand40 {


  stop-color: 78%, #3a2c0f;
}


main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book2 {
  --book2-height: 100vh;
  --book2-ratio: 1.4;
}

.book2>div {
  line-height: 200%;
  height: var(--book2-height);
  width: calc(var(--book2-height) / var(--book2-ratio));
  overflow: auto;
  transform: scale(0.9);
  border-radius: 6px;
  transform-origin: left;
  box-shadow: -10px 0 10px 0px #666;
}

.book2-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 9;
  text-align: center;
  background-size: 2em 2em;
  background-image: linear-gradient(to right top, #5c6b62, #536256, #4c5949, #464f3d, #404631);
  color: white;
  transition: transform 2s;

}






.book2-content {
  color: rgb(92, 107, 98);
  padding: 4px;
  display: flex;
  flex-direction: column;
  transform: scale(0.9) translateY(30px);
  background-color: rgb(206, 206, 206);
  transition: all 0.3s 1s;
}

.book2-content h3,
.book2-content p {
  margin-top: 20px;
  padding: 10px;
  opacity: 0;
  transition: all 0.3s 0.3s;
  font-family: cursive;
  font-size: 3vw;
}


.book2-cover>div {
  transition: opacity 0s 0.6s;
}

.book2:hover>.book2-cover {
  transform: rotateY(180deg) scale(0.9);
}

.book2:hover>.book2-cover>div {
  opacity: 0;
}

.book2:hover>.book2-content {
  transform: scale(0.9) translateY(0px);
}

.book2:hover>.book2-content h3,
.book2:hover>.book2-content p {
  opacity: 1;
}

.main__reviews {
  text-align: center;
  margin-top: 60px;
}



.main__order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  background-color: rgb(148, 170, 156);
  height: 100px;
  width: 100vw;
}

.main__order__book>div {
  transform: scale(.8);
  margin-bottom: 200px;
}

.book__order {
  visibility: visible;
}


.main__text__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#main__button {
  margin-top: 10px;
  margin-right: 20px;
}

.main__reviews {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 70px;
  justify-content: center;
  align-items: center;

}

.main__reviews__photos {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 500px;
}


.main__reviews__photos {
  display: flex;
  justify-content: space-around;

}

.main__reviews span,
.main__reviews h2,
.main__reviews h4 {
  color: #484848;
}

.main__reviews__photos>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100px;
}

.main__reviews__photos img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.footer {
  margin-top: 200px;
  height: 100px;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-around;
}

.footer>div {
  margin-top: 10px
}

.footer a {
  color: #464f3d;
  font-size: 1vw;
}

.footer h6 {
  color: #404631;
}


@media (max-width: 500px) {
.header h1{
  font-size: 3vw;
  margin-bottom: 100px;
}

  .menu {
    width: 100%;
    margin-top: 10px;
  }

  .menu a {
    font-size: 5vw;
  }

  .nav {
    margin: 0 auto;
    flex-direction: column;
  }

  

  .marca {
    margin-top: 30px;
    display: none;
  }

  .header {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    height: 300px;
  }

  .header>div {
    width: 100%;
  }

  .book {
    visibility: hidden;
  }


  .header__left {
    margin-top: 40px;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
  }

  .header__left__tittle {
    transform: scale(2);
  }

  .header__left__tittle p {
    display: none;
  }

  .header__left__btm__container {
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
  }

  span {
    font-size: 1.5vw;
  }

  .book2 {
    transform: scale(0.8);
    -webkit-transform: scale (0.8)
  }

  .book2 h3 {
    font-size: 1em;
  }

  .main__order__book {
    display: none;

  }

  .main__text__button {
    justify-content: center;
    align-items: center;
  }

  .main__text__button>button {
    margin-left: 39px;
    
  }

  .main__text__button p {
    text-align: center;
  }


  .main__reviews {
    height: 100px;
    align-content: space-around;
  }

  .main__reviews__photos {
    flex-direction: column;
    justify-content: center;
  }

  .main__reviews__photos>div {
    margin-bottom: 50px;
  }

  .footer h6 {
    font-size: 1em;
  }

  .footer a {
    display: none;
  }

  .footer {
    margin-top: 200px;
    flex-wrap: wrap;
height: 50px;
  }

  .footer__marca {
    display: none;
  }

}

@media (max-width: 300px) {


  body {
    padding: 0;

  }

  .menu {
    flex-wrap: wrap;
  }

  .nav a {
    font-size: 5vw;
    padding: 3px;
  }

  .btm {
    transform: scale(.8);
  }

  .header {
    padding: 10px;
  }



  .book2 {
    transform: scale(.4);
  }
}